/* Global BTLH Styles */

a,
a:hover {
	color: #f37021;
}

#page-table tr.section-header > td {
    padding-left: 45px;
}

.form-table {
	margin: 30px auto 20px!important;
    width: 92%!important;
}

#page-table .form-table[data="questionTable"]#crtn-tbl-question {
   /* margin-top: 0px!important;
    position: relative;
    top: -20px;*/
}

#uniqueMessage + .form-table[data="questionTable"]#crtn-tbl-question {
    margin-top: 20px!important;
    top: 0px;
}

#page-table .form-table[data="questionTable"]#crtn-tbl-question {
	margin-top: 20px!important;
    margin-bottom: 10px!important;
}

#page-table .form-table[data="entryTable"] {
	margin-top:0px!important;
}

.form-table *,
.certain-reg-email-assistance-link {
	font-family: "Segoe UI",roboto,oxygen,ubuntu,cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

.form-table h4 {
	text-transform: none;
}

.form-table label {
	font-weight: 400;
    margin-bottom: 15px;
    line-height: 1.25em;
}

.form-table#crtn-tbl-profile label {
    margin-bottom: 5px;
}

.form-table label .subheader {
	font-family: "Segoe UI",roboto,oxygen,ubuntu,cantarell,"Open Sans","Helvetica Neue",sans-serif!important;
	margin-right:20px;
	font-size: 1em !important;
}

.form-table label#pro_phone_mobile_label {
	display:inline;
}

.form-table table {
	float:left!important;
}

/* Recommendation */

.form-table table[role="group"] {
	margin: 0px 0 10px;
}

.form-table table[role="group"]#crtn-tbl-que_reg_ans_field05 input[type="radio"] {
	top:-5px;
}

.form-table table[role="group"]#crtn-tbl-que_reg_ans_field08 {
	margin-bottom:0px;
}

.form-table table[role="group"] label {
	position: relative;
    top: 1px;
}

.form-table table[role="group"] label .recommendation-address {
	display:block;
	margin: 10px 0px 0px 20px;
}

.form-table ol.recommendation-list {
	margin-top:10px;
	padding-left:35px!important;
}

.form-table.rule_show label,
.form-table.rule_show label font p.last-child {
	margin-bottom: 0;
}

.form-table.rule_show label ol.recommendation-list {
	padding-left:53px!important;
}

.form-table.rule_show label .text p:last-of-type {
	margin-bottom:0px;
}

.form-table.rule_show label .text p {
	margin-bottom:10px;
}

.form-table ol.recommendation-list li {
	line-height: 1.25em;
	margin-bottom: 10px;
}

.form-table table[role="group"]#crtn-tbl-que_reg_ans_field08 label,
.form-table label#reg_ans_field08_label,
.form-table label#reg_ans_field09_label {
	margin-bottom: 15px;
    line-height: 1.4em;
}

.form-table label#reg_ans_field08_label {
	/*margin-top:20px;*/
}

.form-table.rule_show {
	margin-top: 0!important;
	margin-bottom: 10px!important;
}

.form-table table td {
	text-align: left!important;
	width:auto!important;
/*	vertical-align: baseline;*/
}

.form-table label .text p {
	margin-bottom: 0px;
}

.form-table font.text {
	font-family: "Segoe UI",roboto,oxygen,ubuntu,cantarell,"Open Sans","Helvetica Neue",sans-serif!important;
}

.form-table .error {
	position: relative;
    left: -2px;
	color:#f00;
}

#page-table .error {
	color:#f00;
}

#page-table .error-container > .error {
	font-weight: 700;
	font-family: "Segoe UI",roboto,oxygen,ubuntu,cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

#page-table ul#errorStack {
	padding-left: 15px;
	font-family: "Segoe UI",roboto,oxygen,ubuntu,cantarell,"Open Sans","Helvetica Neue",sans-serif;
	list-style-type: none;
}

#page-table ul#errorStack li::before {
  content: "\2022"; 
  color: red; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em;
}

/* photo upload */

td.photo-requirements {
	font-family: "Segoe UI",roboto,oxygen,ubuntu,cantarell,"Open Sans","Helvetica Neue",sans-serif;
	padding: 30px 47px 0px;
}

td.photo-requirements p:last-of-type {
	margin-bottom:0;
}

#page-table ol.photo-requirements,
#page-table ol.recommendation-requirements,
#page-table label ol {
	padding-left: 15px;
}

#page-table ol.photo-requirements {
	margin-top: 20px;
}

#page-table label ol {
	margin-bottom:0px;
}

#page-table label ol.margin-bottom {
	margin-bottom:10px;
}

#page-table ol.photo-requirements li {
	margin:0px 0px 15px;
}

#page-table ol.recommendation-requirements {
	margin:30px 45px 0px;
	font-family: "Segoe UI",roboto,oxygen,ubuntu,cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

#page-table ol.recommendation-requirements li {
	margin:15px 0px 10px;
}

#page-table ul#errorStack ol.photo-requirements {
	list-style-type:none;
}


#page-table ul#errorStack ol.photo-requirements li.certain-error-messages {
	display: none;
}


.form-table input[type="text"],
.form-table select {
	display: block;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	margin-bottom:10px;
}

.form-table input[type="text"] {
	display: block;
    width: 50%;
    padding: 0.375rem 0.75rem;
	margin-bottom:10px;
}

.form-table input.hasDatepicker[type="text"] {
	width:auto;
	float:left;
}

.form-table input[type=checkbox], input[type=radio] {
	margin-right:5px;
	position: relative;
	top:-5px;
}

.form-table input[type=radio] {
	top:0px;
}

#crtn-tbl-que_reg_ans_field08 input[type=radio],
#crtn-tbl-que_reg_ans_field10 input[type=radio]{
	top:2px!important;
}

crtn-tbl-que_reg_ans_field10

.form-table input#pro_phone_mobile {
	margin-top:3px;
}

.form-table input[type=file] {
    margin-bottom: 20px;
}

.form-table input[type=file] ~ span {
	margin: 0;
    display: block;
    position: relative;
    top: -20px;
}

.ui-datepicker-trigger {
    vertical-align: -webkit-baseline-middle;
}

.form-table select {
	padding: 0.3rem 0.75rem;
}

.form-table input[name="username"],
.form-table input[name="password"] {
	width:200px!important;
	margin-bottom:0px;
}

.form-table input[name="username"] {
	margin-bottom:10px;
}

.form-table input + br {
	display: none!important;
}

/* essay */

ul.video-essay {
	padding: 0;
    margin: 0;
    padding-left: 28px;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 16px;
    list-style-type: none;
}

ul.video-essay li {
    margin-bottom: 15px;
}
ul.video-essay li:last-of-type {
	margin-bottom: 0px;
}

ul.video-essay li::before {
  content: "\2022"; 
  color: #000; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em;
}

.form-table table[role="group"] ol.essay-list {
	margin-top:5px;
}

.form-table table[role="group"] ol.essay-list li {
	line-height: 1.25em;
	margin-bottom: 5px;
}

/* Verify */

.form-table[data="verifyTable"] {
	margin-top:0px!important;
}

.form-table[data="verifyTable"] td,
#page-table .form-table[data="verifyTable"] tr.section-header > td {
	padding:0!important;
}

.form-table[data="verifyTable"] h3 {
	margin-bottom:10px!important;
}

.form-table[data="verifyTable"] .r123FormSubmit.btnSE {
	margin-bottom:5px!important;
	margin-left:0;
}

/*.form-table[data="verifyTable"] tr.section-header ~ tr {
	margin-top: 5px;
    display: block;
}*/

.r123FormSubmit[value="Submit Application"] {
	margin-left:45px!important;
}

/* Entry Page */

#entry-content {
	margin-top: 10px;
}

#entry-content h2 {
	text-transform: none;
}

#entry-content .entry-content-intro {
	display: flex;
    flex-direction: row-reverse;
	column-gap: 40px;
	align-items: center;
}

#entry-content .entry-content-intro > div {
	width: 50%;
}

#entry-content .entry-content-intro img {
	width: 100%;
}

#entry-content .entry-content-intro .entry-content-intro-image {
	width: 50%;
}

#entry-content .entry-content-intro .entry-content-intro-text {
	width: 50%;
}

#entry-content .entry-content-intro .entry-content-intro-text h3:first-child {
	margin-top:0px;
}

#entry-content ul {
	margin-left:0;
	padding-left:0;
	padding-inline-start: 40px;
}

#entry-content ul li {
	line-height: 1.3em;
    margin-bottom: 7px;
}

#entry-content .entry-content-main .program-info {
	display:grid;
}

#entry-content .entry-content-main .program-info:first-of-type h3 {
	margin-top:0px;
}

#entry-content .entry-content-main .program-info .program-info-item h5 {
	font-weight: 700;
	margin-bottom: 0px;
}

#entry-content .entry-content-main .program-info ol {
	font-weight: 400;
}

#entry-content .entry-content-main .program-info ol li ul {
	font-weight: 400;
}

#entry-content .entry-content-main .program-info ol li > ul {
	margin-top:5px;
}

#entry-content .entry-content-main .program-info ol li ul ul {
	margin: 10px 0;
}

#entry-content .entry-content-main .apply-now {
	display: grid;
    clear: both;
    padding-top: 10px;
}

#entry-content input {
	margin: 6px 0 30px;
}

input#submitForm {
	margin: 0px 0 30px;
}

input[value="Continue"] {
	margin-left:45px!important;
}

.form-table .text #entry-content p,
.form-table .text p {
	font-size: 1em !important;
    line-height: 1.3em !important;
	font-family: "Segoe UI",roboto,oxygen,ubuntu,cantarell,"Open Sans","Helvetica Neue",sans-serif!important;
}

.certain-reg-email-assistance-link {
	margin-top: 15px;
	left: 45px!important;
	color: #f37021!important;
}

/* /Entry Page */

/* Confirmation */

table[data="confirmationTable"] {
	max-width:100%!important;
}

.form-table table.confirmation-table {
	background-color:#f7fafc;
	width:100%!important;
}

.form-table table.confirmation-table,
.form-table table.confirmation-table table {
	float:none!important;
}

.form-table table.confirmation-table h1 {
    color: #000;
    font-family: "Knockout 50 A", "Knockout 50 B", "Arial Narrow", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
	text-align: center;
	margin-bottom:30px;
}

.form-table table.confirmation-table .confirmation-message {
	border-radius: 6px;
	border-collapse: separate !important;
/*	width: 100%!important;*/
	overflow: hidden;
	border: 1px solid #e2e8f0;
	background-color:#fff;
	padding:20px 30px;
	margin-bottom: 30px;
	width:800px!important;
}

/* Buttons */

.r123FormSubmit,
#page-table input#submitForm,
input[name="submitForm"],
.r123FormSubmit.btnSE,
.r123FormSubmit:hover,
#page-table input#submitForm:hover,
input[name="submitForm"]:hover,
.r123FormSubmit.btnSE:hover {
	cursor: pointer;
    outline: 0px;
    color: #fff;
    background-color: #337ab7!important;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    border: 0px;
    padding: 10px 15px!important;
    border-radius: 0.25rem!important;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	font-weight: 600;
	font-size: 1.2em!important;
	max-width: 260px!important;
	left:0!important;
	text-transform: uppercase;
}

.r123FormSubmit:hover,
#page-table input#submitForm:hover,
input[name="submitForm"]:hover,
.r123FormSubmit.btnSE:hover {
	color: #fff;
	background-color: #23527c!important;
}


@media (max-width: 1200px) {
	#page-table tr.section-header > td {
    	padding-left: 38px;
	}
	#entry-content .entry-content-intro .entry-content-intro-image,
	#entry-content .entry-content-intro .entry-content-intro-text {
		width:50%;
	}
	.certain-reg-email-assistance-link {
    	left: 37px!important;
	}
	input[value="Continue"] {
    	margin-left: 37px!important;
	}
	
	.r123FormSubmit[value="Submit Application"] {
    	margin-left: 4%!important;
	}
	.form-table table.confirmation-table .confirmation-message {
		width: 90%!important;
    	margin: 0px auto 30px;
	}
	td.photo-requirements {
		padding-left:39px!important;
	}
}

@media (max-width: 992px) {
	#page-table tr.section-header > td {
    	padding-left: 30px;
	}
	
	#entry-content .entry-content-intro {
		display: block;
	}
	
	#entry-content .entry-content-intro .entry-content-intro-image,
	#entry-content .entry-content-intro .entry-content-intro-text {
		width:100%;
	}
	#entry-content .entry-content-intro .entry-content-intro-image {
		margin-bottom:30px;
	}
	.certain-reg-email-assistance-link {
    	left: 28px!important;
	}
	.form-table input[type="text"] {
    	width: 100%;
	}
	input[value="Continue"] {
    	margin-left: 28px!important;
	}
	
	.r123FormSubmit[value="Submit Application"] {
    	margin-left: 4%!important;
	}
	td.photo-requirements {
		padding-left:4%!important;
	}
}

@media (max-width: 768px) {
	#page-table tr.section-header > td {
    	padding-left: 4%;
	}
	.certain-reg-email-assistance-link {
    	left: 4%!important;
	}
	input[value="Continue"] {
    	margin-left: 4%!important;
	}
	td.photo-requirements {
		padding-left: 4%;
	}
}



